/* body {  
  font-family: 'Source Sans Pro', sans-serif;  
  font-size: 18px;
} 
  
  header {  
      border-bottom: 1px solid #999;  
      margin-bottom: 2rem;  
      display: flex; 
  } 
  
  header h1 a {  
      color: red;  
      text-decoration: none;
  } 
  
  .post-entry {   
      margin-bottom: 2rem;
  } 
  
  .post-entry h2 {   
      margin: 0.5rem 0; 
  } 
  
  .post-entry h2 a, .post-entry h2 a:visited {  
       color: blue;   text-decoration: none;
      } 
      
  .post-entry p {   
      margin: 0;   
      font-weight: 400;
  } 
  
  .post-entry h2 a:hover {
      color: red;
  }

  .container {
      width: 60%; 
      margin: auto;
  }
  .nav-left { 
      margin-right: auto; 
    } 
     
    .nav-right { 
      display: flex; 
      padding-top: 2rem; 
    } */
    .navbar { 
        width: 100%; 
        display: flex; 
        justify-content: space-between;
    }

    .navbar-expand-sm {
        justify-content: space-between;
    }

    .float-right {
        display: flex; 
        flex-direction: column;  
        justify-content: flex-end;
    }

    .row { 
        display: flex; 
        flex-direction: row;  
        flex-wrap: wrap;
    }

    .centeredForm
    {
        position: absolute;
        width: 60%;
        height: 60%;
        left:50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar {
        position: fixed;
        display: flex;
        left: 0;
        top: 0;
        width: 100%;
        padding: 15px 250px;
        justify-content: space-between;
        background-color: #ffffff;
        -webkit-box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
        -moz-box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
        box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
        align-items: center;
        transition: 0.5s;
        z-index: 10000;
    }