
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
    .navbar-expand-sm {
        justify-content: space-between;
    }

    .float-right {
        display: flex; 
        flex-direction: column;  
        justify-content: flex-end;
    }

    .row { 
        display: flex; 
        flex-direction: row;  
        flex-wrap: wrap;
    }


    .navbar {
        position: fixed;
        display: flex;
        left: 0;
        top: 0;
        width: 100%;
        height: 90px;
        padding: 15px 250px;
        justify-content: space-between;
        background-color: #ffffff;
        -webkit-box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
        -moz-box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
        box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
        align-items: center;
        transition: 0.5s;
        z-index: 10000;
    }
   .text-center .btn-circle {
     width: 40px;
     height: 40px;
     border-radius: 50%;
    }

    #hint_id_password1,
    #hint_id_username {
        display: none;
    }

    .card-body {
      padding: .5rem;
  }

    .card-body p {
      margin-bottom: 0;
    }

    .imag-thumbnail {
      width: 300px;
      height: 200px;
      background-size: 300px 200px;
      background-repeat: no-repeat;
    }

    .fullPic img {
      max-width: 60vw; 
      max-height: 60vh;
      margin: 20px 0;
    }

    .photo-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .photo-date {
      font-size: 10px;
      float: right;
    }

    .imag-author {
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #e3e3e3;
        max-width: 80px;
        padding: 0 5px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        border-radius: 7px;
    }

    .imag-author:hover {
      color: #000000;
      background:#ffff00;
  }


    footer {
      background-color: #e3e3e3;
      height: 50px;
      padding-top: 1rem;
    }

  /*   footer p, footer .float-right{
      margin-top: 1rem;
    } */


   
